body {
    background-color: white;
    display: grid;
    place-items: center;
}

@media (min-width: 600px) {
  body { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  body { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1300px) {
  body { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1600px) {
  body { grid-template-columns: repeat(5, 1fr); }
}

.menuBar {
  background-color: white;
  top: 75px;
  left: 0;
  position: fixed;
  place-items: center;
  padding: 10px;
  display: grid;
  gap: 10px;
  font-size: 30px;
  visibility: hidden;
  opacity: 0%;
  transition: all 0.5s;
  z-index: 99;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.menuBar div {
  display: grid;
  place-items: center;
}

.main {
  font-size: 30px;
}

.child {
  font-size: 20px
}

#menuBar.show {
  transform: translate(1%);
  opacity: 100%;
  visibility: visible;
}

.menuBar a {
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
}

.menuBar a:hover{
  color: #8000ff;
  transform: scale(1.1);
  transition-duration: .1s;
  text-shadow: #8000ff 1px 0 10px;;
}

.footer{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.button-container {
  position: absolute;
  right: 0;
  top: 23px;
  display: flex;
  background-color: white;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e2e2e;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

.mainBtn {
    padding-left: 70px;
    font-weight: 500;
    color: #2e2e2e;
    text-decoration: none;
    font-size: 48px;
}

.burger {
  position: absolute;
  width: 40px;
  left: 10px;
  top: 23px;
  height: 30px;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2e2e2e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* Tiktok*/
  .containerTwo:hover {
    background-color: #25f4ee;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 19px;
  }
  .largeIcon {
    width: 27px; /* Ancho específico solo para el icono de TikTok */
  }
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .cardItem {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, #7129f8 0%, #ff0fa3 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 10px;
    top: 80px;
  }

  .cardItemBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    border: 2px solid #8000ff;
    background-color: #8000ff;
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .cardItemBtn::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.253);
    height: 100%;
    width: 150px;
    top: 0;
    left: -200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    filter: blur(10px);
    transition-duration: .5s;
  }
  
  .cardItemBtn:hover::after {
    transform: translateX(600px);
    transition-duration: .5s;
  }

  .cardItem svg {
    width: 48px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cardItem:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cardItem__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cardItem:hover .cardItem__content {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .cardItem__title {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
  }
  
  .cardItem__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: black;
    line-height: 1.4;
  }
  
  .cardItem:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }