* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}
::-webkit-scrollbar {
  width: 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky !important;
  top: 0;
}
.logo {
  font-size: 24px;
  margin-bottom: 10px;
}
.nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.nav a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: bold;
}
.account-content input {
  outline: none;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  transition: all .5s;
}
.account-content a {
  color: #2e2e2e;
  text-decoration: none;
  transition: all .5s;
}
#login, #register {
  position: fixed !important;
  display: none;
  position: absolute;
  top: 25%;
  width: 100%;
}
.account-content a:hover {
  color: #8000ff;
}
.main-content, .account-content {
  flex: 1;
  margin-top: 20px;
  padding-bottom: 20px;
}
.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 10px;
}
.product-card, .card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: all .5s;
}
.product-card:hover {
  box-shadow: 0 2px 8px #8000ff;
}
.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
.product-card h2 {
  font-size: 18px;
  margin: 10px 0;
}
.product-card p {
  font-size: 14px;
  color: #666;
}
.product-card span {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}
button:hover {
  background-color: #8000ff;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}
@media (min-width: 600px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr);
 }
}
@media (min-width: 900px) {
  .product-list {
      grid-template-columns: repeat(3, 1fr);
 }
  .header {
      flex-direction: row;
      justify-content: space-between;
 }
  .logo {
      margin-bottom: 0;
 }
}
.search-bar {
  display: flex;
  width: 100%;
  margin-left: 3%;
}
.search-bar input {
  outline: none;
  flex: 1;
  padding: 8px 12px;
  transition: all .5s;
  border: 2px solid #2e2e2e;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}
.search-bar input:focus, input:hover {
  border-color: #8000ff;
}
.search-bar button {
  padding: 8px 12px;
  background-color: #2e2e2e;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all .5s;
}
.search-bar button:hover {
  background-color: #8000ff;
}
#burger {
  display: none;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  z-index: 3;
}
.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
#burger:checked + label.burger span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
#burger:checked + label.burger span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
#burger:checked + label.burger span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: white;
  box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 2;
}
#burger:checked ~ .navbar {
  transform: translateX(0);
}
.navbar a {
  text-decoration: none;
  cursor: pointer;
  color: #2e2e2e;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
#burger:checked ~ .overlay {
  opacity: 1;
  pointer-events: all;
}
/* for all social containers*/
.socialContainer {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* Tiktok*/
.containerTwo:hover {
  background-color: #25f4ee;
  transition-duration: 0.3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
.socialSvg {
  width: 19px;
}
.largeIcon {
  width: 27px;
 /* Ancho específico solo para el icono de TikTok */
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
      transform: translateY(-50px);
      opacity: 0;
 }
  100% {
      transform: translateY(0);
      opacity: 1;
 }
}
table {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
th, td {
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 1%;
}
.uploadItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.uploadItem input {
  outline: none;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  transition: all .5s;
}
.uploadItem input:hover {
  border: 2px solid #8000ff;
  box-shadow: 2px 2px #8000ff;
}
.ordersHeader {
  display: flex;
  align-items: center;
}
#itemList {
  display: none ;
}
#uploadItem {
  display: none ;
}
#orderList {
  display: unset;
}
#noItem {
  display: none;
  text-align: center;
}
#popUp {
  width: 100%;
  position: absolute;
  top: 20%;
  display: none;
  text-align: center;
  box-shadow: 1px 1px 30px rgb(183, 183, 183);
}
#popUp table {
  width: 100%;
}
#popUp th, #popUp td {
  width: 50%;
}
btnContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
btnContainer a {
  background-color: #2e2e2e;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
  color: white;
  transition: .5s all;
  width: 100%;
  text-align: center;
}
btnContainer a:hover {
  background-color: #8000ff;
}
.list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.list li {
  padding: 0.2rem;
  border-left: 3px solid transparent;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  color: #333;
  border-radius: 5px;
}

.list li:hover {
  border-left: 3px solid #8000ff;
  background-color: #f2e6ff;
  color: #8000ff;
}